<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Club</title>
</head>

<body>
    <h1>Create New Club</h1>
    <form action="/clubs" method="POST">
        <div>
            <label for="name">Club Name</label>
            <input type="text" id='name' name='club[name]'>
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" id='description' name='club[description]'>
        </div>
        <button>Add Club</button>

    </form>

    <a href="/clubs">All Clubs</a>
</body>

</html>