<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>

<body>
    <h1>
        <%= club.name %>
    </h1>
    <p>
        <%= club.description %>
    </p>
    <p>
        <a href="/clubs/<%= club._id %>/edit">Edit Club</a>
    </p>
    <p>
    <form action="/clubs/<%= club._id %>?_method=DELETE" method="POST">
        <button>Delete Club</button>
    </form>
    </p>
    <footer>
        <a href="/clubs"> All Clubs </a>
    </footer>
</body>

</html>